In [1]:
import numpy as np
import pandas as pd

In [2]:
from Stocker import stocker
from Downloader import downloader

In [3]:
def adjust_data(stock):
    '''we define this function to specify the columns we will use in the stocker class'''
    filepath = 'data//'+ stock+"_price.csv"
    data = pd.read_csv(filepath)
    data = data[['date','adjclose','volume']]
    data.columns=['Date',stock,'Volume']
    data['Date'] = pd.to_datetime(data['Date'])
    return(data)

In [4]:
data = adjust_data('AAPL')
data.head()

        Date      AAPL       Volume
0 2009-05-08  3.987077  467964000.0
1 2009-05-11  3.998804  404658800.0
2 2009-05-12  3.839864  609481600.0
3 2009-05-13  3.687715  595971600.0
4 2009-05-14  3.794497  447826400.0

In [5]:
stocker1 = stocker()
stocker1.import_data(data)

import stock data from AAPL

In [6]:
log_return = stocker1.generate_logreturn()

In [7]:
log_return.head()

            log_return
Date
2009-05-08         NaN
2009-05-11    0.002937
2009-05-12   -0.040558
2009-05-13   -0.040430
2009-05-14    0.028545

In [8]:
(X_train,y_train),(X_test,y_test) = stocker1.data_split_window(split_ratio=0.9,plot=False)

In [9]:
y_test.join(log_return).drop(columns=0)

            log_return
Date
2019-05-10   -0.013950
2019-05-13   -0.059877
2019-05-14    0.015706
2019-05-15    0.011908
2019-05-16   -0.004409
...                ...
2020-05-04    0.014050
2020-05-05    0.014897
2020-05-06    0.010264
2020-05-07    0.010292
2020-05-08    0.023523

[252 rows x 1 columns]

In [10]:
y_train.join(log_return).drop(columns=0)

            log_return
Date
2010-05-13   -0.014334
2010-05-14   -0.017729
2010-05-17    0.001574
2010-05-18   -0.007343
2010-05-19   -0.016058
...                ...
2019-05-03    0.012355
2019-05-06   -0.015563
2019-05-07   -0.027327
2019-05-08    0.000197
2019-05-09   -0.010802

[2263 rows x 1 columns]